<template name="search">
  <div class="search row">
    <div class="col s12 m12 l12">
      <div id="leftSide" data-activates="leftSlide" class="col s1 hide-on-large-only">
        <i class="material-icons">menu</i>
      </div>
      <div class="input-field col s10 m10 l11">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="searchText">
          <label for="icon_prefix">Search</label>
      </div>
      <div id="rightSide" data-activates="rightSlide" class="col s1">
        <i class="material-icons">more_vert</i>
      </div>
    </div>
  </div>
</template>
