<template name="playlist">
  {{playlistInfo}}
  {{#if $.Session.get 'loading'}}
    {{> loading}}
  {{/if}}
  <div class="row playlist">
    <div class="col s12 highlight">
      <div class="col s2 playlistImage">
        <img src="{{$.Session.get 'playlistImage'}}" class="responsive-img" alt="">
      </div>
      <div class="col s8 playlistInfo row">
        <h5 class="col s12">{{$.Session.get 'playlistName'}}</h5>
        <h6 class="col s12">
        {{#if $.Session.get 'playlistDescription'}}
          {{$.Session.get 'playlistDescription'}}
        {{/if}}
        </h6>
        <h6 class="col s12">Created by : {{$.Session.get 'owner'}} - {{$.Session.get 'totalTrack'}} songs</h6>

      </div>
    </div>
    <div class="row col s12">
    <table class="highlight bordered col s12">
      <thead>
        <tr>
            <th data-field="id">Song</th>
            <th data-field="name">Artist</th>
            <th data-field="price">Links</th>
        </tr>
      </thead>
      <tbody>
      {{# each $.Session.get 'song'}}
      <tr>
        <td class="truncate">{{this.track.name}}</td>
        <td>
          {{#each this.track.artists}}
            {{this.name}}&nbsp;
          {{/each}}
        </td>
        <td>$0.87</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
    </div>
  </div>
</template>
