<template name="playlist">
  {{playlistInfo}}
  {{#if $.Session.get 'loading'}}
    {{> loading}}
  {{/if}}
  <div class="row playlist">
    <div class="col s12 highlight">
      <div class="col s2 playlistImage">
        <img src="{{$.Session.get 'playlistImage'}}" class="responsive-img" alt="">
      </div>
      <div class="col s8 playlistInfo row">
        <h5 class="col s12">{{$.Session.get 'playlistName'}}</h5>
        <h6 class="col s12">
        {{#if $.Session.get 'playlistDescription'}}
          {{$.Session.get 'playlistDescription'}}
        {{/if}}
        </h6>
        <h6 class="col s12">Created by : {{$.Session.get 'owner'}} - {{$.Session.get 'totalTrack'}} songs</h6>

      </div>
    </div>
    <div class="row col s12">
    <table class="highlight bordered col s12">
      <thead>
        <tr>
            <th class="col s5" data-field="song">Song</th>
            <th class="col s5" data-field="artist">Artist</th>
            <th class="col s2 center-align" data-field="link">Play</th>
        </tr>
      </thead>
      <tbody>
      {{#each $.Session.get 'song'}}
      <tr>
        <td class="col s5 song truncate">{{this.track.name}}</td>
        <td class="col s5 artist truncate">
          {{#each this.track.artists}}
            {{this.name}}
          {{/each}}
        </td>
        <td class="col s2 songId center-align" data-song-id="{{track.id}}" image="{{image track}}">
          <a id="{{track.preview_url}}" href="#" class="preview tooltipped " data-position="left" data-delay="0" data-tooltip="Play"><i class="material-icons">play_circle_outline</i></a>
          <a id="{{track.preview_url}}" href="#" class="addQueue tooltipped " data-position="left" data-delay="0" data-tooltip="Add Queue"><i class="material-icons">queue</i></a>
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
    </div>
  </div>
</template>
