<template name="side">

  <div id="bigScreenLeft" class="side side-nav left fixed row">
    {{#if currentUser}}
      <div class="row">
        <div class="col s12 center waves-effect waves-light">
          <img src={{profilePicture}} alt="Your Profile Picture" class="responsive-img">
        </div>
        <div class="col s12 username waves-effect waves-light">
          <a href="">Welcome {{username}}</a>
        </div>
        <div class="col s12 waves-effect waves-light">
          <a class="logout">Logout</a>
        </div>
        <div class="col s12 playlist waves-effect waves-light">
          <ul class="collapsible" data-collapsible="accordion">
            <li class="col s12 active">
            <a class="collapsible-header active">Your Playlist(s)</a>
              <div class="collapsible-body">
                <ul>
                {{# each $.Session.get 'currentPlaylists'}}
                <li class="col s12 row">
                  <img src="{{images.[0].url}}" class="responsive-img col s5" alt="">
                  <div class="col s7 truncate">{{name}}</div>
                </li>
                {{/each}}
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    {{/if}}
    {{#unless currentUser}}
    <div class="row">
        <a href="#" class="col s10 push-s1 login-spotify btn-flat waves-effect waves-light">
          Log In With Spotify
        </a>
    </div>
    {{/unless}}
    <!-- Row End -->
  </div>
  <!-- Side End -->

  <div id="leftSlide" class="side side-nav left fixed row">
    {{#if currentUser}}
      <div class="row">
        <div class="col s12 center">
          <img src={{profilePicture}} alt="Your Profile Picture" class="responsive-img">
        </div>
        <div class="col s12">
          {{username}}
        </div>
        <div class="col s12">
          <a class="logout" href="">Logout</a>
        </div>
      </div>
    {{/if}}
    {{#unless currentUser}}
    <div class="row">
        <a href="#" class="col s10 push-s1 login-spotify btn-flat waves-effect waves-light">
          Log In With Spotify
        </a>
    </div>
    {{/unless}}
    <!-- Row End -->
  </div>
  <!-- Side End -->
</template>
