/*@media only screen and (max-width : 992px) {
  div#bigScreenLeft{
    display: none;
  }
}
@media only screen and (min-width : 992px) {
  div#leftSlide{
    display: none;
  }
}*/
div.side{
  display: block;
  height: 100vh;
  background-color: #3A4750;
  color: #fff;
}
div.side .login-spotify{
  margin-top: 5%;
  background-color: #658E18;
  color: #fff;
  text-align: center;
}
div.side .user img{
  margin-right: 10px;
}
div.side li{
  padding: 0 !important;
}
div.side a{
  color: #DFEBED !important;
}
div.side a i {
    line-height: inherit;
}
div.side li:hover{
  background: transparent;
}
div.side li.active {
  background: transparent;
}
div.side-nav .collapsible-body{
  background: transparent;
}
div.side .collapsible-header{
  margin: 0 0;
}
div.side .refresh{
  position: absolute;
  top: 22px;
  right: 10px;
}
div.side .collapsible-body ul > a{
  padding:0;
}

::-webkit-scrollbar {
    width: 12px;}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 12px;

}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 12px;

}
::-moz-selection { background: #ffa726; color: #fff; }
::selection { background: #ffa726; color: #fff; }
