<template name="side">
<div class="row">
  <div id="bigScreenLeft" class="side side-nav left fixed">
    <div class="row">
        <a href="#" class="col l10 push-l1 login-spotify btn-flat waves-effect waves-light">
          Log In With Spotify
        </a>
    </div>
    <!-- Row End -->
  </div>
  <!-- Side End -->
  <div id="leftSlide" class="side side-nav left fixed">
    <div class="row">
        <a href="#" class="col l10 push-l1 login-spotify btn-flat waves-effect waves-light">
          Log In With Spotify
        </a>
    </div>
    <!-- Row End -->
  </div>
  <!-- Side End -->
</div>
</template>
