<template name="side">

  <div id="bigScreenLeft" class="side side-nav left fixed row">
    <div class="row">
        <a href="/" class="col s10 push-s1 login-spotify btn-flat waves-effect waves-light">
          Log In With Spotify
        </a>
    </div>
    <!-- Row End -->
  </div>
  <!-- Side End -->

  <div id="leftSlide" class="side side-nav left fixed row">
    <div class="row">
        <a href="#" class="col s10 push-s1 login-spotify btn-flat waves-effect waves-light">
          Log In With Spotify
        </a>
    </div>
    <!-- Row End -->
  </div>
  <!-- Side End -->
</template>
